## for_format_list

In [6]:
s = '{} {} {}'
pr = s.format('A','B','C')
print(pr)

ㄱ ㄴ ㄷ

In [8]:
s = '{}는 {}와 {}를 좋아해'
pr = s.format('A','B','C')
print(pr)

A는 B와 C를 좋아해

In [9]:
s = '{}는 {}번이고 {}대학에 갔어'
pr = s.format('A','30214','짭버드')
print(pr)

A는 30214번이고 짭버드대학에 갔어

### [문제]햄버거 1개는 4달라

In [10]:
s = '{} {}개는 {}달라'
pr = s.format('햄버거','1','4')
print(pr)

햄버거 1개는 4달라

In [11]:
food = '햄버거'
num = 2
s = '{} {}개는 {}달라'
pr = s.format(food,num,4*num)
print(pr)

햄버거 2개는 8달라

In [13]:
food = input('메뉴입력 >> ')
num = int(input('개수 입력 >> '))
price = num*4
s = '{} {}개는 {}달라'
pr = s.format(food,num,price)
print(pr)

메뉴입력 >> 된장
개수 입력 >> 30
된장 30개는 120달라

### [문제]

In [25]:
menu = list(map(int, input('햄버거 갯수와 가격 >> ').split()))

햄버거 갯수와 가격 >> 10 5

In [26]:
type(menu)

list

In [27]:
menu[0], menu[1]

(10, 5)

In [31]:
price = menu[0]*menu[1]
s = '햄버거 {}개는 {}달라'
pr = s.format(menu[0], price)
print(pr)

햄버거 10개는 50달라

In [32]:
stu = '%s %d학년 %.2f'
pr = stu%('인천여상', 3, 16.789)
print(pr)

인천여상 3학년 16.79

In [33]:
juso = '              인천시 연수구 동춘동      '

In [34]:
type(juso), len(juso)

(str, 25)

In [35]:
juso.strip()

'인천시 연수구 동춘동'

In [51]:
add = juso.strip()

In [52]:
type(add), len(add)

(str, 11)

In [53]:
add.split()

['인천시', '연수구', '동춘동']

In [54]:
add.startswith('인천')

True

In [55]:
add.endswith('동춘동')

True

In [56]:
num = 10
if num == 10 :
    print('숫자는 10')
else :
    print('숫자는 10이 아니다')

숫자는 10

In [57]:
num = 10
if num % 2 == 0 :
    print('짝수')
else :
    print('홀수')

짝수

### [문제]입력을 받아서 짝수(펭수)인지 홀수(백수)인지 알려줌
- 입력을 받는다
- 정수로 바꾼다
- if문으로 짝수인지 확인
- 출력

In [60]:
num = int(input())
if num % 2 == 0 :
    print('펭수')
else :
    print('백수')

5
백수

In [62]:
for i in range(20, 31) :
    print(i)

20
21
22
23
24
25
26
27
28
29
30

In [63]:
for i in range(20, 31) :
    if i % 2 != 0 :
        print(i)

21
23
25
27
29

In [64]:
sum = 0
for i in range(20, 31) :
    if i % 2 != 0 :
        sum += i
        print(i)
print('합계 : ', sum)

21
23
25
27
29
합계 :  125

### [문제 만들기] 1부터 10까지 3의 배수만 출력
- for, it 사용

In [67]:
for i in range(1, 10) :
    if i % 3 == 0 :
        print(i)

3
6
9